<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ida:TenantId" value="14c2f153-90a7-4689-9db7-9543bf084dad" />
    <add key="ida:ClientId" value="9c1366c7-fa09-4363-a762-5df1fd5f0765" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}/v2.0" />
    <add key="todo:TodoListServiceScope" value="api://b2a01b02-2101-4da7-854a-ca0c73933322/.default" />
    <add key="todo:TodoListBaseAddress" value="https://localhost:44321" />
  </appSettings>
</configuration>